@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('./animations.css');
@import url('./loading.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

p re {
  font-family: 'Montserrat', sans-serif;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.drawer-toggle:checked~.drawer-side>.drawer-overlay {
  animation: fadeIn .5s ease-in-out;
}

.indicator_slide {
  cursor: pointer;
  padding: 4px;
  text-align: center;
  border: 1px #666 solid;
  margin: 0 4px;
}

.indicator_slide.active {
  color: #fff;
  background: #666;
}

.infinite {
  animation-iteration-count: infinite;
  animation-duration: 0.8s;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}